body{
    font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,0,0.1),rgba(128,0,0,0.6));
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 95%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.video{
    background: linear-gradient(rgba(255,255,0,0.1),rgba(128,0,0,0.9));
    width: 50%;
}
.Enquiry{
    text-align: center;
}

.follow{
    text-align: center;
}
footer{
    width: 100%;
}

.footer_container{ 
    background-color: #333;   
    margin: 0 -10px;
    padding: 0px;
}
.footer_content{ 
    color: #ccc; 
    width: 80%;
    padding : 40px;
    margin: auto;
    
}
footer a:hover{
    color:white;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type:none;
}

li {
    float: left;
}

li b {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type:none;
    cursor: pointer;
}

li b:hover {
    background-color: grey;
    list-style-type:none;
    cursor: pointer;
}
#nav ul {
    display: inline-block;
    list-style-type: none;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid grey;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;

}
button:hover {
    background-color: #006666;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #EB3030;
    width: 20%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn{
    width: 20%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
#form {
background-image: url("clouds.gif");
background: linear-gradient(rgba(255,255,0,0.1),rgba(128,0,0,0.9));
width: 50%;
float: left;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;

}

.total{
    background: linear-gradient(rgba(255,255,0,0.1),rgba(128,0,0,0.9));

}
.ln{
  font-family: Verdana;
  font-weight: normal;
  text-decoration: underline;
  font-size: 20px;
  color: red;
}
.n{
  font-family: Verdana;
  font-weight: normal;
  text-decoration: underline;
  font-size: 20px;
  color: red;
}
.header{
  top:0;
  position: fixed;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}
{
    box-sizing: border-box;
}

.header {
    border: 0px solid black;
    padding: 0px;
    background-color:
    display: inline-block;
    list-style-type: none;
}
.hero {
    width: 97.69%;
    padding: 15px;
    border: 0px solid ;
    background-image: url("clouds.gif");
    color: white;
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
}
.menu {
    width: 450px;
    float: left;
    padding: 15px;
    border: 0px solid;
    height: 300px;
    background: linear-gradient(rgba(192,192,192,0.2),rgba(255,255,255,0.8));

}
.main {
    width: 450px;
    float: left;
    padding: 15px;
    border: 0px solid black;
    height: 300px;
    background-image: url("nitw2.jpg");
    background: linear-gradient(rgba(192,192,192,0.2),rgba(255,255,255,0.8));
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#nav ul {
    display: inline-block;
    list-style-type: none;
}